<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>numSlice</key>
		<string>15</string>
		<key>theImg</key>
		<string>1</string>
		<key>theUrl</key>
		<string>1</string>
	</dict>
	<key>2</key>
	<dict>
		<key>numSlice</key>
		<string>15</string>
		<key>theImg</key>
		<string>2</string>
		<key>theUrl</key>
		<string>2</string>
	</dict>
	<key>3</key>
	<dict>
		<key>numSlice</key>
		<string>15</string>
		<key>theImg</key>
		<string>1</string>
		<key>theUrl</key>
		<string>1</string>
	</dict>
	<key>4</key>
	<dict>
		<key>numSlice</key>
		<string>15</string>
		<key>theImg</key>
		<string>1</string>
		<key>theUrl</key>
		<string>1</string>
	</dict>
	<key>5</key>
	<dict>
		<key>numSlice</key>
		<string>15</string>
		<key>theImg</key>
		<string>1</string>
		<key>theUrl</key>
		<string>1</string>
	</dict>
	<key>6</key>
	<dict>
		<key>numSlice</key>
		<string>15</string>
		<key>theImg</key>
		<string>1</string>
		<key>theUrl</key>
		<string>1</string>
	</dict>
	<key>7</key>
	<dict>
		<key>numSlice</key>
		<string>15</string>
		<key>theImg</key>
		<string>1</string>
		<key>theUrl</key>
		<string>1</string>
	</dict>
	<key>19</key>
	<dict>
		<key>numSlice</key>
		<string>15</string>
		<key>theImg</key>
		<string>19</string>
		<key>theUrl</key>
		<string>19</string>
	</dict>
</dict>
</plist>
