<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Section 1: History</key>
	<dict>
		<key>1</key>
		<dict>
			<key>gigapixel</key>
			<string>1</string>
			<key>image</key>
			<string>c.jpg</string>
			<key>keywords</key>
			<string>computer, science, history, biology, math, physics</string>
			<key>synoposis</key>
			<string>this is a test description of synoposis</string>
			<key>title</key>
			<string>abcded</string>
		</dict>
		<key>2</key>
		<dict>
			<key>gigapixel</key>
			<string>2</string>
			<key>image</key>
			<string>c.jpg</string>
			<key>keywords</key>
			<string>natural, history, social</string>
			<key>synoposis</key>
			<string>this is a test description of synoposis</string>
			<key>title</key>
			<string>what&apos;s the title</string>
		</dict>
	</dict>
	<key>Section 2: Biology</key>
	<dict>
		<key>3</key>
		<dict>
			<key>gigapixel</key>
			<string>3</string>
			<key>image</key>
			<string>b.jpg</string>
			<key>keywords</key>
			<string>natural, animal, birds, dogs</string>
			<key>synoposis</key>
			<string>this is another synoposis!</string>
			<key>title</key>
			<string>adbdeed</string>
		</dict>
		<key>4</key>
		<dict>
			<key>gigapixel</key>
			<string>0</string>
			<key>image</key>
			<string>e.jpg</string>
			<key>keywords</key>
			<string>Katy Perry, Maroon 5, Linkin Park, Taylor Swift</string>
			<key>synoposis</key>
			<string>tadall ,a.d tea,d.. ad</string>
			<key>title</key>
			<string>adddbd</string>
		</dict>
	</dict>
	<key>Section 3: Computer Science</key>
	<dict>
		<key>5</key>
		<dict>
			<key>gigapixel</key>
			<string>19</string>
			<key>image</key>
			<string>b.jpg</string>
			<key>synoposis</key>
			<string>ok. what&apos;t eht allda&apos; kajdf d</string>
			<key>title</key>
			<string>dont&apos;knwoa tad. </string>
		</dict>
		<key>6</key>
		<dict>
			<key>gigapixel</key>
			<string>0</string>
			<key>image</key>
			<string>c.jpg</string>
			<key>synoposis</key>
			<string>oppss, whalt.e.a..dd </string>
			<key>title</key>
			<string>anoterh titlele</string>
		</dict>
	</dict>
</dict>
</plist>
